<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'cbir/style.css' %}">
        <title>About Us - Reverse Image Search</title>
    </head>
    </head>
    <body>
        {% include 'base.html' %}
        <div class="container">
            <h1 style="font-size: 48px;">About Us</h1>
            <h1>The Developer - Team TemuKangenUnch</h1>
        </div>
        <div class="container">
            <p style="text-align: left;">
                Ibrahim Ihsan Rasyid 13522018<br>
                Marzuli Suhada M 13522070<br>
                Zahira Dina Amalia 13522085
            </p>
        </div>
    </body>
</html>