<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'cbir/style.css' %}">
        <title>Home - Reverse Image Search</title>
    </head>
    <body>
        {% include 'base.html' %}
        <div class="container">
            <h1 style="font-size: 48px;">Reverse Image Search</h1>
        </div>
        <div class="container">
            <form method="POST" enctype="multipart/form-data" action="{% url 'upload_search' %}">
                {% csrf_token %}
                <label for="uploadSearch" id="upload-search">Masukkan Gambar</label>
                <input type="file" id="uploadSearch" style="display: none;" name="file"/>
                <input type="submit" value="Upload"/>
                <div id="image-search">
                {% if search_image %}
                    <img src="{{ search_image.image }}" id="search">
                {% endif %}
                </div>
            </form>
        </div>
        <div class="container">
            <form method="POST" action="{% url 'search_cbir' %}">
                {% csrf_token %}
                <label for="searchType">Cari berdasarkan:</label>
                <label>Warna</label>
                <label class="switch">
                    <input type="checkbox" value="tekstur" name="search_cbir">
                    <span class="slider"></span>
                </label>
                <label>Tekstur</label>
                <input type="submit" value="Search"/>
            </form>
        </div>

        <div class="container">
            <p>Jumlah Ditemukan: <span id="resultCount">{{ images.count }}</span> Gambar</p>
            <p>Waktu Eksekusi: <span id="executionTime">{{ search_time }}</span> Detik</p>
        </div>
        <div id="imageResults" class="container">
            <!-- Kumpulan Gambar hasil pencarian (grid) -->
            {% for shown_image in image_list %}
            <div class="image-container">
                <img class="image" src={{shown_image.image}}/>
                <p>{{ shown_image.similarity }}%</p>
            </div>
            {% endfor %}
        </div>

        <div class="container">
            {% if image_list.has_previous %}
                <a href="?page=1" class="arrow">First &laquo</a>
                <a href="?page={{ image_list.previous_page_number }}" class="arrow">Prev &#8249;</a>
            {% endif %}
            Page {{ image_list.number }} of {{ image_list.paginator.num_pages }}
            {% if image_list.has_next %}
                <a href="?page={{ image_list.next_page_number }}" class="arrow">&#8250; Next</a>
                <a href="?page={{ image_list.paginator.num_pages }}" class="arrow">&raquo Last</a>
            {% endif %}
        </div>

        <div class="container">
            <form method="POST" enctype="multipart/form-data" action="{% url 'upload_dataset' %}">
                {% csrf_token %}
                <label for="uploadDataset">Upload Dataset</label>
                <input type="file" name="file" id="uploadDataset" style="display: none;" multiple directory
                webkitdirectory mozdirectory>
                {% if upload_time != 0 %}
                    <p id="uploadTime" style="display: none;">Berhasil upload dalam {{ upload_time }} detik</p>
                {% endif %}
                <input type="submit" value="Upload"/>
            </form>
        </div>
        <div class="container">
            <form method="POST" action="{% url 'refresh' %}">
                {% csrf_token %}
                <button type="submit" name="refresh" id="refresh">Refresh Page</button>
            </form>
        </div>
    </body>
    <script>

    </script>
</html>
