<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'cbir/style.css' %}">
        <title>How To Use - Reverse Image Search</title>
    </head>
    </head>
    <body>
        {% include 'base.html' %}
        <div class="container">
            <h1 style="font-size: 48px;">How to Use</h1>
            <h1>Reverse Image Search<br/>with Content-Based Information Retrieval</h1>
        </div>
        <div class="container">
            <p style="text-align: left;">
                - Download and install Python (https://www.python.org/downloads/)<br>
                - Download install dependencies from the terminal<br>
                > <br>
                pip install numpy<br><br>
        
        pip install opencv-python<br><br>

        pip install matplotlib<br><br>

- If program doesn't run as intended, try installing an older version of python (https://www.python.org/downloads/release/python-394/)<br><br>
            </p>
        </div>
    </body>
</html>