<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'cbir/style.css' %}">
        <title>How To Use - Reverse Image Search</title>
    </head>
    </head>
    <body>
        {% include 'base.html' %}
        <div class="container">
            <h1 style="font-size: 48px;">How to Use</h1>
            <h1>Reverse Image Search<br/>with Content-Based Information Retrieval</h1>
        </div>
        <div class="container">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Quisque elementum placerat libero a consequat. Pellentesque dictum bibendum nulla, 
                id imperdiet tellus. Pellentesque facilisis at tellus nec consectetur. Curabitur 
                at nisi ac sapien ornare ullamcorper. Phasellus posuere, orci sed pretium efficitur, 
                dolor lacus cursus neque, a sollicitudin risus ante ut turpis. Nunc vehicula nulla sem, 
                ut ullamcorper tellus consequat sed. Vivamus eu risus at libero tempor ultricies. Donec 
                non placerat sem. Sed quis nibh quis ante convallis consectetur ac sed felis.
            </p>
        </div>
    </body>
</html>