<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'cbir/style.css' %}">
        <title>Konsep Singkat - Reverse Image Search</title>
    </head>
    </head>
    <body>
        {% include 'base.html' %}
        <div class="container">
            <h1 style="font-size: 48px;">Konsep Singkat</h1>
            <h1>Content-Based Information Retrieval</h1>
        </div>
        <div class="container">
            <p style="text-align: left;">
                Teori yang mendasari tugas besar ini ialah Content-Based Information Retrieval yang biasa disebut dengan CBIR. Sistem CBIR, atau Pencarian Citra Berbasis Konten, adalah suatu metode yang digunakan untuk mencari dan mengambil gambar berdasarkan karakteristik visual atau isi mereka.<br><br> 
                Tahap awal dalam proses ini melibatkan ekstraksi fitur-fitur kunci dari gambar, seperti warna, tekstur, dan bentuk. Setelah fitur-fitur ini diperoleh, mereka diwakili dalam bentuk vektor atau deskripsi numerik yang dapat dibandingkan dengan gambar-gambar lain dalam suatu dataset. <br><br>
                Selanjutnya, CBIR menggunakan algoritma pencocokan untuk membandingkan vektor-fitur dari gambar yang dicari dengan vektor-fitur gambar dalam dataset. Hasil dari pencocokan ini digunakan untuk menyusun rangking gambar dalam dataset dan menampilkan gambar yang memiliki kemiripan visual tertinggi dengan gambar yang dicari.<br><br> 
                Proses CBIR memberikan bantuan kepada pengguna dengan memberikan akses dan kemampuan untuk menjelajahi koleksi gambar secara efisien. Ini dilakukan tanpa perlu melakukan pencarian berdasarkan teks atau kata kunci, melainkan berdasarkan kesamaan nilai citra visual di antara gambar-gambar tersebut. <br><br>
                Dalam konteks ini, terdapat dua parameter CBIR yang umumnya digunakan, yaitu parameter warna dan tekstur.

            </p>
        </div>
    </body>
</html>